@model ASP.Models.Content.Location.ContentLocationPageModel

@using System.Security.Claims
@{
    Layout = "_ContentLayout";
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    bool isAdmin = isAuthenticated
    ? Context
    .User
    .Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.UserData)
    != null
    : false;

    bool isFormInvalid =
        Model.FormModel?.HasData == true && Model.ValidationErrors?.Count > 0;
    bool isSignUpSuccess =
        Model.FormModel?.HasData == true && Model.ValidationErrors?.Count == 0;
    Dictionary<string, string> classes = new();
    foreach (String key in new String[] { "RoomName", "RoomDescription", "Slug", "RoomStars", "RoomPhoto", "RoomPrice"})
    {
        classes[key] = isFormInvalid ?
        (Model.ValidationErrors?.ContainsKey(key) ?? false
            ? "is-invalid"
            : "is-valid")
        : "";
    }
}

<h1 class="content-type-h">@Model.Location.Name rooms</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var room in Model.Rooms)
    {
        @Html.DisplayFor(m => room, "RoomTemplate")
    }
</div>


@if (isAdmin)
{
    <hr />
    <form id="room-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="room-name"><i class="bi bi-person-vcard"></i></span>
                    <input type="text" class="form-control @classes["RoomName"]"
                           placeholder="Назва" name="room-name"
                           aria-label="Room Name" aria-describedby="room-name">
                    <div class="invalid-feedback">Ім'я не може бути порожнім</div>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="room-description"><i class="bi bi-envelope-at"></i></span>
                    <input type="text" class="form-control  @classes["RoomDescription"]"
                           name="room-description" placeholder="Опис"
                           aria-label="Description" aria-describedby="room-description">
                    <div class="invalid-feedback">Опис не може бути порожнім</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="room-slug"><i class="bi bi-lock"></i></span>
                    <input type="text" class="form-control @classes["Slug"]" placeholder="Slug"
                           name="room-slug"
                           aria-label="Room Slug" aria-describedby="room-slug">
                    <div class="invalid-feedback">Slug должен быть уникальным</div>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="room-stars"><i class="bi bi-unlock"></i></span>
                    <input type="number" class="form-control @classes["RoomStars"]"
                           name="room-stars"
                           aria-label="Room Stars" aria-describedby="room-stars">
                    <div class="invalid-feedback">Рейтинг не может быть пустым</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="room-photo"><i class="bi bi-person-circle"></i></label>
                    <input type="file" class="form-control @classes["RoomPhoto"]" name="room-photo" id="room-photo">
                    <div class="invalid-feedback">Файл должен быть типа изображения</div>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="room-price"><i class="bi bi-coin"></i></span>
                    <input type="number" min="100" step="0.01" class="form-control @classes["RoomPrice"]" name="room-price"
                           aria-label="Room Price" aria-describedby="room-price">
                    <div class="invalid-feedback">Цена не может быть пустым</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-secondary"
                        name="room-button" value="true">
                    Додати
                </button>
            </div>
        </div>
        <input type="hidden" name="location-id" value="@Model.Location.Id">
    </form>
}